{% extends 'base_form.html.twig' %}

{% block title %}Hey !{% endblock %}

{% block body %}

    {{ form_start(formArticle) }}
        <button type="submit">Submit</button>
    {{ form_end(formArticle) }}

{% endblock %}